@font-face {
  font-family: 'geomanist';
  src: url("../assets/fonts/geomanist-medium-webfont.eot");
  src: url("../assets/fonts/geomanist-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/geomanist-medium-webfont.woff2") format("woff2"), url("../assets/fonts/geomanist-medium-webfont.woff") format("woff"), url("../assets/fonts/geomanist-medium-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'geomanist';
  src: url("../assets/fonts/geomanist-regular-webfont.eot");
  src: url("../assets/fonts/geomanist-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/geomanist-regular-webfont.woff2") format("woff2"), url("../assets/fonts/geomanist-regular-webfont.woff") format("woff"), url("../assets/fonts/geomanist-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'geomanist', sans-serif;
  font-weight: normal;
  color: white;
}

html, body {
	background-color: #8E8A8D;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#arrow {
  position: fixed;
  width: 32px;
  opacity: 0.2;
  z-index: 20;
  bottom: 35px;
  margin: 0 auto;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media screen and (max-width: 1000px), (max-height: 680px), (min-height: 840px) {
  #arrow {
    display: none;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0 100px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin: 0 26px;
  }
}

#media-kit {
  margin-top: 60px;
}

#media-kit #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 1000px) {
  #media-kit #header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#media-kit #header #text {
  max-width: 600px;
}

#media-kit #header #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

@media screen and (max-width: 1000px) {
  #media-kit #header #buttons {
    margin-top: 16px;
    margin-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

#media-kit #header #buttons a {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  #media-kit #header #buttons a {
    padding: 20px 26px;
  }
}

#media-kit #header #buttons a:first-child {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
}

@media screen and (max-width: 1000px) {
  #media-kit #header #buttons a:first-child {
    margin-left: 10px;
  }
}

#media-kit #header #buttons a:hover {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

#media-kit img {
  width: 100%;
  margin-top: 30px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
}

a, input {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

a:hover {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

input[type='submit']:hover, input[type='button']:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #hero {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  #hero {
    text-align: left;
    margin: 40px auto 50px auto;
  }
}

#hero #main-image {
  height: 700px;
  width: initial;
  margin-right: 80px;
}

@media screen and (max-width: 1000px) {
  #hero #main-image {
    height: 600px;
    margin-right: 0;
  }
}

@media screen and (max-width: 700px) {
  #hero #main-image {
    height: 400px;
  }
}

#hero #logo {
  height: 56px;
  margin-bottom: 30px;
}

#hero #text {
  width: 410px;
}

@media screen and (max-width: 1000px) {
  #hero #text {
    margin-top: 40px;
  }
}

#hero #buttons {
  margin-top: 50px;
  width: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  #hero #buttons {
    margin: 50px auto 0 auto;
  }
}

@media screen and (max-width: 700px) {
  #hero #buttons {
    margin: 40px 0 30px 0;
  }
}

#hero #buttons #download {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

#hero #buttons #download img {
  margin-bottom: 10px;
}

#hero #buttons #play-video {
  height: 54px;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  cursor: pointer;
}

#hero #buttons #play-video img {
  margin-right: 10px;
  opacity: 0.8;
}

#hero #buttons #play-video:after {
  content: 'Video';
}

#hero #buttons #play-video:hover:after {
  content: "1 min";
}

#awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0 50px 0;
}

@media screen and (max-width: 1000px) {
  #awards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0 40px 0;
  }
}

#awards div {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 492px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1000px) {
  #awards div {
    width: 100%;
    margin-bottom: 10px;
  }
}

#awards #product-hunt, #awards #apple {
  cursor: pointer;
}

.section-intro {
  border-radius: 24px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: repeat;
}

@media screen and (max-width: 1000px) {
  .section-intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .section-intro {
    text-align: left;
    border-radius: 16px;
  }
}

.section-intro h1, .section-intro p {
  color: black;
}

@media screen and (max-width: 700px) {
  .section-intro h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 700px) {
  .section-intro p {
    font-size: 15px;
  }
}

.section-intro div {
	padding: 60px 80px;
	width: 500px;
}

@media screen and (max-width: 700px) {
  .section-intro div {
    padding: 32px 34px;
  }
}

.section-intro img {
  border-radius: 0 24px 24px 0;
  width: 500px;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .section-intro img {
    width: 100%;
    border-radius: 0 0 24px 24px;
  }
}

@media screen and (max-width: 700px) {
  .section-intro img {
    border-radius: 0 0 16px 16px;
  }
}

#goals {
  background-image: url(../assets/images/p3-yellow.png);
}

#ideas {
  background-image: url(../assets/images/p3-blue.png);
}

#decisions {
  background-image: url(../assets/images/p3-green.png);
}

.separator {
  border-top: 2px solid white;
  width: 60px;
  height: 1px;
  display: block;
  opacity: 0.3;
  margin: 70px auto;
}

@media screen and (max-width: 700px) {
  .separator {
    margin: 40px auto 50px auto;
  }
}

#smaller-margin {
  margin: 40px auto;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  font-size: 0;
}

#goals-text {
  color: #ffdf00;
  font-weight: bold;
}

#ideas-text {
  color: #65D6FF;
  font-weight: bold;
}

#decisions-text {
  color: #BAFB00;
  font-weight: bold;
}

.card {
  width: 495px;
  height: 578px;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 100%;
    height: auto;
    margin: 0 0 14px 0 !important;
  }
}

.card img {
  padding: 50px 116px 0 115px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 14px 14px 0 0;
  width: 264px;
}

@media screen and (max-width: 1000px) {
  .card img {
    width: 100%;
    padding: 50px 186px 0 185px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 700px) {
  .card img {
    padding: 40px 40px 0 40px;
  }
}

.card p {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding: 36px 60px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 0 14px 14px;
}

@media screen and (max-width: 700px) {
  .card p {
    font-size: 20px;
    padding: 26px 60px;
  }
}

.card:first-child, .card:nth-child(3) {
  margin-right: 10px;
}

.card:nth-child(3), .card:nth-child(4) {
  margin-top: 12px;
}

#faq {
  margin-top: 120px;
}

@media screen and (max-width: 1200px) {
  #faq {
    max-width: 800px;
    margin: 100px auto 0 auto;
  }
}

@media screen and (max-width: 700px) {
  #faq {
    margin: 60px auto 0 auto;
  }
}

#faq h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.question {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 14px;
  padding: 30px;
  margin-bottom: 10px;
}

.question h3 {
  font-size: 22px;
  font-weight: bold;
}

.question p {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.7);
}

#footer {
  margin-top: 60px;
}

@media screen and (max-width: 1200px) {
  #footer {
    max-width: 800px;
    margin: 60px auto 0 auto;
  }
}

@media screen and (max-width: 700px) {
  #footer {
    margin: 40px auto 0 auto;
  }
}

#footer #last-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  padding: 30px 40px;
}

@media screen and (max-width: 700px) {
  #footer #last-cta {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 26px;
    text-align: center;
  }
}

#footer #last-cta h2 {
  margin: 0;
  font-size: 28px;
}

@media screen and (max-width: 700px) {
  #footer #last-cta h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

#footer #last-cta img {
  float: right;
  margin-left: 50px;
}

@media screen and (max-width: 700px) {
  #footer #last-cta img {
    margin-left: 0;
  }
}

#footer #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 18px;
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  #footer #links {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

#footer #links p {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  #footer #links p {
    margin-top: 30px;
    opacity: 0.5;
  }
}

#footer #links a {
  margin-left: 30px;
  cursor: pointer;
  white-space: nowrap;
}

#footer #links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  #footer #links a {
    margin-left: 0;
    margin-right: 16px;
  }
}

@media screen and (max-width: 700px) {
  #footer #links :last-child, #footer #links :nth-child(2) {
    margin-right: 0;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 360px;
  background-color: #fff;
  padding: 30px 30px 24px 30px;
  border-radius: 10px;
  -webkit-animation-name: modal;
          animation-name: modal;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-height: 620px) {
  .modal-content {
    position: relative;
    top: 300px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 40px 0;
  }
}

@media screen and (max-width: 700px) {
  .modal-content {
    width: 70%;
  }
}

.modal-content h2 {
  color: #121416;
  margin-bottom: 5px;
}

.modal-content p {
  color: #121416;
  margin-bottom: 20px;
  font-size: 16px;
  opacity: 0.6;
}

.modal-content input, .modal-content textarea {
  width: 100%;
  padding: 18px;
  margin-bottom: 10px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-color: rgba(18, 20, 22, 0.1);
  border-radius: 10px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.modal-content input::-webkit-input-placeholder, .modal-content textarea::-webkit-input-placeholder {
  color: rgba(18, 20, 22, 0.5);
}

.modal-content input:-ms-input-placeholder, .modal-content textarea:-ms-input-placeholder {
  color: rgba(18, 20, 22, 0.5);
}

.modal-content input::-ms-input-placeholder, .modal-content textarea::-ms-input-placeholder {
  color: rgba(18, 20, 22, 0.5);
}

.modal-content input::placeholder, .modal-content textarea::placeholder {
  color: rgba(18, 20, 22, 0.5);
}

.modal-content textarea {
  resize: none;
  height: 150px;
}

.modal-content #submit {
  border: none;
  padding: 18px;
  margin: 14px 0 0 0;
  text-decoration: none;
  background: #ffdf00;
  color: black;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#video {
  width: 100%;
  max-width: 1000px;
  padding: 0;
  background-color: rgba(18, 20, 22, 0);
}

@media screen and (max-width: 1000px) {
  #video {
    width: 90%;
  }
}

#video #close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 160px;
  margin: 40px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}

#video .video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

#video .video-container iframe, #video .embed-container object, #video .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#close {
  width: 100% !important;
  margin-top: 10px;
  padding: 18px;
  text-decoration: none;
  background: rgba(18, 20, 22, 0.1);
  color: #121416;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
}

.modal-open {
  display: inherit;
}

.scroll-disabled {
  overflow: hidden;
}

@-webkit-keyframes modal {
  from {
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes modal {
  from {
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */
